 
  body {
    background-color: rgb(223, 212, 201);
    max:0;
    padding: 0;
    font-family: 'Trebuchet MS';
    text-align: center;
  }
  
  main {
    display: flex;
    gap: 30px;
    min-height: 450px;
    justify-content: center;
  }